---
import Example from "./Example.astro";
---

<Example class="">
  <button popovertarget="menu">Menu</button>
  <div popover id="menu">
    <tab-guard>
      <label>Example: <input type="text" /></label>
      <label>Example: <input type="text" /></label>
    </tab-guard>
  </div>
</Example>

<script>
  import { type TabGuard } from "../../../src/tab-guard";

  const toggle = document.querySelector("button[popovertarget]")!;
  const popover = document.querySelector<HTMLElement>("[popover]")!;
  const trap = popover.querySelector<TabGuard>("tab-guard")!;

  popover.addEventListener("beforetoggle", () => {
    const box = toggle.getBoundingClientRect();
    popover.style.left = `${box.x}px`;
    popover.style.top = `${window.scrollY + box.bottom}px`;
  });

  popover.addEventListener("toggle", () => trap.focus());
</script>

<style is:global>
  #menu {
    position: absolute;
    margin: 0;
    margin-top: var(--space-xs);
  }
</style>
